
{% set client = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['collectd'],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
        'read_interval': 60,
        'file_logging': True,
        'remote_collector': False
        'use_fqdn': True,
    },
    'Debian': {
        'pkgs': ['collectd-core', 'snmp', 'python-yaml', 'python-simplejson'],
        'service': 'collectd',
        'config_file': '/etc/collectd/collectd.conf',
        'config_dir': '/etc/collectd/conf.d',
        'read_interval': 60,
        'file_logging': True,
        'remote_collector': False
        'use_fqdn': True,
    },
    'RedHat': {
        'pkgs': ['collectd', 'collectd-ping', 'net-snmp', 'PyYAML'],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
        'read_interval': 60,
        'file_logging': True,
        'remote_collector': False
        'use_fqdn': True,
    },
}, merge=salt['pillar.get']('collectd:client')) %}
