
{% set client = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['collectd'],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
    },
    'Debian': {
        'pkgs': ['collectd-core', 'snmp'],
        'service': 'collectd',
        'config_file': '/etc/collectd/collectd.conf',
        'config_dir': '/etc/collectd/conf.d',
    },
    'RedHat': {
        'pkgs': ['collectd', 'collectd-ping', 'net-snmp'],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
    },
}, merge=salt['pillar.get']('collectd:client')) %}
