{% set supported_services = [
  'linux.system',
  'memcached.server',
  'mysql.server',
  'nginx.server',
  'nova.compute',
  'postgresql.server',
  'network.collectd'
] %}

{% set client = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['collectd'],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
        'supported_services': supported_services
    },
    'Debian': {
        'pkgs': ['collectd-core'],
        'service': 'collectd',
        'config_file': '/etc/collectd/collectd.conf',
        'config_dir': '/etc/collectd/conf.d',
        'supported_services': supported_services
    },
    'RedHat': {
        'pkgs': ['collectd', 'collectd-virt', 'collectd-ping', ],
        'service': 'collectd',
        'config_file': '/etc/collectd.conf',
        'config_dir': '/etc/collectd.d',
        'supported_services': supported_services
    },
}, merge=salt['pillar.get']('collectd:client')) %}
