# {{ service_name }}

description     "{{ service_name }}"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec /usr/bin/collectd -f -C {{ config_file }}
